body {	
	font: 16px/26px 'Roboto', sans-serif;
	color: #434343;
	background: #fff;
}

/* Standard Styles Starts */

a { color: #3497db; }
a:hover, 
a:focus {
	color: #000;
}
a:focus { outline: none; }

/* Heading Styles Starts */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
h1 { font-size: 72px; }
h2 { font-size: 60px; }
h3 { font-size: 48px; }
h4 { font-size: 42px; }
h5 { font-size: 36px; }
h6 { font-size: 30px; }

.font1, 
.program-list li h6, 
.news-post h3, 
.news-post h6 {
	font-family: 'Roboto', sans-serif;	
}

.font2, 
.form-box .btn {
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Form & Buttons Styles Starts */

.btn-main {
	background-color: #3497db;
}

.btn-secondary {
	background-color: #262626;
}

.btn-main, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active, 
.btn-secondary, 
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	color: #fff;
}

.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active, 
.btn-secondary:hover, 
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
	background-color: #000;
}

.btn-secondary.inverse:hover, 
.btn-secondary.inverse:focus,
.btn-secondary.inverse:active,
.btn-secondary.inverse.active {
	background-color: #3497db;
}

/* Header Styles Starts */

.main-header {
/*	background: url(../images/header-bg.jpg) no-repeat center;*/
	background-image: url(../images/Banner_Hogar2.jpg);
	border-top: 10px solid #3a3a3a;
}
.seguro {
		padding-top: 15px;
		padding-bottom: 25px;
		font-size: 21px;
		background-color: #3497db;
}
	.logo {
		padding-top: 15px;
		padding-bottom: 25px;
		font-size: 21px;
		background-color: #3497db;
	}
		
                
                .logo h2 {
			margin-top: 0;
			margin-bottom: 5px;
			font-size: 58px;
		}
        
                
	.header-content {
		padding-top: 150px;
		padding-bottom: 80px;
                
	}
		.header-content h1{
			margin-top: 0;
			margin-bottom: 80px;
                        background-color: #3497db;
                        border-radius: 3px;
                        text-align: center;
                        
		}
                .header-content h3{
			margin-top: 0;
			margin-bottom: 10px;
                        background-color: #3497db;
                        border-radius: 3px;
                        text-align: center;
                        
		}
			.header-content p {
				margin-bottom: 0;
				font-size: 18px;
			}
			.header-content p.lead {
				font-size: 24px;
				font-weight: normal;
			}

/* Section Styles Starts */

.section-area {
	padding-top: 70px;
	padding-bottom: 70px;
	word-wrap: break-word;
}
.section-area.lite {
	background-color: #f3f3f3;
}

/* Intro Section Styles Starts */

.intro-section {
	padding-bottom: 90px;
}
	.intro-section h4 {
		margin-bottom: 30px;
		line-height: 52px;
		padding-left: 30px;
		border-left: 4px solid #3497db;
	}
		.intro-section p + p {
			margin-top: 20px;
		}
		.intro-section ul {
			margin-top: 30px;
		}
			.intro-section li {
				margin-bottom: 7px;
				font-size: 18px;
			}
			
	.form-box-wrap {
		background-color: #3497db;
	}
		.form-box-wrap h3 {
			padding: 20px 10px 15px;
		}
		.form-box-wrap h5 {
			padding: 15px 20px;
			position: relative;
			background-color: #262626;
		}
		.form-box-wrap h5::before {
			content: "\f138";
			position: absolute;
			top: 0;
			left: -60px;
			color: #fff;
			font-size: 36px;
			padding: 15px 10px 15px 20px;
			background-color: #262626;
		}
		.form-box-wrap h3, 
		.form-box-wrap h5 {
			margin-top: 0;
			margin-bottom: 0;			
		}
		.form-box {
			padding: 30px;
		}
			.form-box p {
				margin-top: 25px;
				margin-bottom: 25px;
				font-size: 14px;
				line-height: 20px;
			}
			.form-box .form-group {
				margin-bottom: 20px;
			}
				.form-box .form-control {
					padding: 12px 18px;
					height: 46px;
					color: #6c6c6c;
					font-size: 14px;
					border: 1px solid #858282;
				}
				.form-box .btn {
					padding: 8px 16px;
					font-size: 24px;
				}

/* Program Section Styles Starts */

.program-section {	
}
	.program-section .img-style-1 {
		margin-top: 20px;
	}
	.program-section h1 {
		font-size: 90px;
	}
	.program-section h1 + p {
		margin-bottom: 20px;
	}
	.program-list {	
		margin-top: 30px;
	}
		.program-list li {
			margin-top: 40px;
		}
			.program-list li h6 {
				margin-bottom: 20px;
				color: #a4a4a4;
				font-weight: bold;
			}
				.program-list li h6 span {
					font-weight: 500;
				}

/* Training Section Styles Starts */

.training-section {
}
	.training-section h4 {
		margin-top: 0;
		margin-bottom: 40px;
		padding: 24px 30px;
		background-color: #262626;
	}
	.training-info-box {
		padding: 80px 120px;
		background-image: url(../images/training-info-box.jpg);
	}
		.training-info-box h1 {
			margin-top: 0;
			margin-bottom: 0;
		}
		.training-info-box h1 + h1 {
			margin-bottom: 20px;
		}
	.training-list h5 {
		margin-top: 30px;
	}
		.training-list ul {
			margin-top: 20px;
		}
			.training-list li + li {
				margin-top: 10px;
			}
			.training-list li::before {
				content: "\f068";
				margin-right: 15px;
				font-size: 12px;
			}

/* Team Section Styles Starts */

.team-section {
	background-image: url(../images/team-section.jpg);
}
	.team-box {
		margin-top: 50px;
	}
		.team-box h6 {
			margin-top: 30px;
			margin-bottom: 15px;
		}
		
/* Info Section Styles Starts */

.info-section {
}
	.info-box {
		padding: 30px 30px 40px;
		background-color: #262626;
		background: #262626 url(../images/info-box-img1.png) no-repeat 130% top;
	}
	.info-box.blue {
		background: #3497db url(../images/info-box-img2.png) no-repeat 120% 30%;
	}
		.info-box h4 {
			margin-top: 0;
			line-height: 52px;
		}
		.info-box p {
			margin: 15px 90px 25px 0;
			font-size: 16px;
			line-height: 24px;
		}
			.info-box a.read-more {
				color: #fff;
				font-size: 18px;
				font-weight: 500;
				font-style: italic;
			}

/* Latest Articles Styles Starts */

.latest-articles {	
}
	.news-post {
		margin-top: 50px;
		margin-bottom: 30px;
		margin-right: 30px;
		font-size: 16px;
	}
		.news-post h3 {
			margin-bottom: 0;
		}
		.news-post h3 + h6 {
			margin-top: 5px;
		}
		.news-post h6 {
			font-size: 24px;
		}
		.news-post p {
			margin-top: 15px;
			margin-bottom: 0;
			line-height: 24px;
		}
		#news-post-carousel .owl-controls {
			margin-top: 30px;
			margin-right: 30px;
			text-align: right;
		}
			#news-post-carousel .owl-controls .owl-buttons div {
				background: none;
			}	
			#news-post-carousel .owl-controls .owl-buttons .owl-prev, 
			#news-post-carousel .owl-controls .owl-buttons .owl-next {
				color: #434343;
				font-size: 36px;
			}

/* Testimonials Section Styles Starts */

.testimonials-section {	
}
	.testimonials-section h3 {
		margin-top: 190px;
	}
	.testimonial-box {
		padding: 60px;
		position: relative;
		background-color: #3497db;
	}
		.testimonial-box .title-bar {
			padding: 20px 40px;
			position: absolute;
			top: 45px;
			right: -110px;
			width: 75%;
			background-color: #262626;
		}
			.testimonial-box .title-bar img {
				margin-right: 40px;
			}
			.testimonial-box .title-bar .title {
				margin-top: 5px;
			}
			.testimonial-box .title-bar .title-sub {
				font-size: 14px;
			}
			.testimonial-box .title-bar p {
				margin-bottom: 0;
			}
		.testimonial-box p.lead {
			margin-top: 120px;
			margin-bottom: 0;			
			font-size: 24px;
			line-height: 40px;
		}
	
/* Help Line Section Styles Starts */

.help-line-section{
	background-color: #262626;
}	

/* Contact Section Styles Starts */

.contact-section {	
}
	.contact-section form {
		margin-top: 40px;
	}
		.contact-section .form-group {
			margin-bottom: 20px;
		}
			.contact-section .form-control {
				padding: 15px 25px;
				font-size: 18px;
				color: #959595;
				border: 1px solid #c8c8c8;
			}
			.contact-section input[type=text].form-control, 
			.contact-section input[type=email].form-control {
				height: 52px;
			}
			.contact-section textarea.form-control {
				padding: 21px 30px;
			}
			.contact-section .btn {
				margin-top: 15px;
				padding: 10px 80px;
				font-size: 24px;
			}

/* Footer Styles Starts */

.main-footer {
	padding-top: 60px;
	padding-bottom: 70px;
	font-size: 18px;
	line-height: 28px;
	background-color: #e6e6e6;
}
	.main-footer, 
	.main-footer h6 {
		color: #7c7c7c;
	}
	.main-footer h1, 
	.main-footer p.sub {
		color: #262626;		
	}
	.main-footer h1 {
		margin-bottom: 0;
	}
	.main-footer h6 {
		margin-top: 40px;
	}
	.main-footer form {
		margin-top: 20px;
	}
		.main-footer form .form-control {
			padding: 10px 20px;
			height: 42px;
		}
		.main-footer form .btn {
			padding: 10px 15px;
		}
	.main-footer ul.foot-sm-links {	
		margin-top: 15px;
		margin-left: -10px;
		margin-bottom: 15px;		
	}
		.main-footer ul.foot-sm-links li {
			padding-left: 10px;
			padding-right: 10px;
			font-size: 24px;
		}
			.main-footer ul.foot-sm-links li, 
			.main-footer ul.foot-sm-links li a, 
			.main-footer ul.foot-address li, 
			.main-footer ul.foot-address li a { 
				color: #7c7c7c;
			}
			.main-footer ul.foot-sm-links li a:hover, 
			.main-footer ul.foot-sm-links li a:focus, 
			.main-footer ul.foot-address li a:hover, 
			.main-footer ul.foot-address li a:focus {
				color: #3497db;
			}
	.foot-address {	
		margin-top: 20px;
	}
		.foot-address li + li {
			margin-top: 10px;
		}
			.foot-address li .fa {
				margin-right: 10px;
				font-size: 24px;
				vertical-align: bottom;
			}

/* Generic Styles Starts */

.parallax {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.no-margin-top		{ margin-top: 0; 	}
.no-margin-bottom	{ margin-bottom: 0; }

.text-thin		 	{ font-weight: 100; }
.text-extra-light	{ font-weight: 200; }
.text-light		 	{ font-weight: 300; }
.text-normal 	 	{ font-weight: 400; }
.text-medium 	 	{ font-weight: 500; }
.text-bold		 	{ font-weight: 700; }
.text-ultra-bold 	{ font-weight: 900; }

.text-spl-color { color: #3497db; }
.text-light-color { color: #fff; }

.img-center {
	margin-left: auto;
	margin-right: auto;
}

.no-border-radius, 
.flat, 
#news-post-carousel .owl-controls .owl-buttons div {
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
			border-radius: 0;
}

.training-info-box {
	-webkit-border-radius: 10px 10px 0 0;
	   -moz-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;		
}

.training-section h4 {
	-webkit-border-radius: 0 0 10px 10px;
	   -moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;	
}

.logo {
	-webkit-border-radius: 0 0 5px 5px;
	   -moz-border-radius: 0 0 5px 5px;
			border-radius: 0 0 5px 5px;	
}

.form-box-wrap h5::before {
	-webkit-border-radius: 5px 0 0 5px;
	   -moz-border-radius: 5px 0 0 5px;
			border-radius: 5px 0 0 5px;		
}

.form-box .form-control, 
.img-style-1, 
.form-box-wrap, 
.info-box, 
.testimonial-box, 
.testimonial-box .title-bar {
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;	
}

.no-boxshadow, 
.form-control:hover, 
.form-control:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

.form-box .form-control, 
.contact-section .form-control {
	-webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
			box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1);
}
.form-box .form-control:focus, 
.contact-section .form-control:focus {
	-webkit-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
			box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.img-style-1 {
	-webkit-box-shadow: -40px -40px #fff, -45px -45px #e1e1e1;
	   -moz-box-shadow: -40px -40px #fff, -45px -45px #e1e1e1;
	        box-shadow: -40px -40px #fff, -45px -45px #e1e1e1;
}

.form-box-wrap h5::before, 
.training-list li::before {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfont3295.eot?v=4.5.0');
	src: url('../font-awesome/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfont3295.woff2?v=4.5.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfont3295.woff?v=4.5.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfont3295.ttf?v=4.5.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfont3295.svg?v=4.5.0#fontawesomeregular') format('svg');
}

.animation, 
.animation a, 
#news-post-carousel .owl-controls .owl-buttons div {
	-webkit-transition: all 0.5s ease 0s;
	   -moz-transition: all 0.5s ease 0s;
		    transition: all 0.5s ease 0s;
}

.animation-1, 
.animation-1 a {
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
		    transition: all 1s ease;	
}